.animais h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-bottom: 1rem;
  color: #E54;
}

.animais h2::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 12px;
  margin-right: 10px;
  background: #FB5;
}

.animais p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.animais-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.animais-lista li {
  cursor: pointer;
}

.animais-lista::-webkit-scrollbar {
  width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
  background: #FB5;
  border-left: 4px solid #FAF6ED;
  border-right: 4px solid #FAF6ED;
}

.animais-lista::-webkit-scrollbar-track {
  background: transparent;
}

.animais-descricao {
  grid-column: 3;
}

.animais-descricao section {
  margin-bottom: 3rem;
}

.js .js-tabcontent section {
  display: none;
}

.js .js-tabcontent section.active {
  display: block !important;
  animation: show-right .3s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}