.faq-lista {
  grid-column: 2 / 4;
}

.faq-lista dt {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #E54
}

.faq-lista dt::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 12px;
  margin-right: 10px;
  background: #FB5;
}

.faq-lista dd {
  font-family: Helvetica, Arial;
  margin-bottom: .5rem;
  margin-left: 32px;
}

.js dl[data-accordion] dd {
  display: none;
}

.js dl[data-accordion] dd.active {
  display: block;
  animation: accordion .3s forwards;
}

@keyframes accordion {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js dl[data-accordion] dt {
  user-select: none;
  cursor: pointer;
}

.js dl[data-accordion] dt span {
  background: url(../img/arrow-red.svg) center center no-repeat;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(90deg);
  transition: transform .3s;
}

.js dl[data-accordion] dt.active span {
  transform: rotate(-90deg);
}